---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Redes from '@/components/CardRedes.astro';

export async function getStaticPaths(){
    const integrantes = await getCollection('integrantes');

    return integrantes.map((integrante) => ({
        params: { slug: integrante.id },
        props: { integrante }
    }))
}
const { integrante } = Astro.props
const { id, data } = integrante
const { name = "Integrante", description, cover, coverAvif, youtube, youtube2, instagram, x, tiktok } = data
const { Content } = await render(integrante)
---
<Layout title={name} description={description}>
    <main>
        <a href="/integrante" class="back">
            <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><use href="/sprite.css.svg#arrow-narrow-left"></use></svg>
            <p>Integrantes</p>
        </a>
        <section class="perfil-hero">
            <div class="perfil-info">
                <h1>{name}</h1>
                <p>{description}</p>
            {(youtube || youtube2 || instagram || x || tiktok) && (
            <div class="perfil-redes">
                <Redes
                    youtube={youtube}
                    youtube2={youtube2}
                    instagram={instagram}
                    x={x}
                    tiktok={tiktok}
                />
            </div>
        )}
            </div>
            <picture>
                {coverAvif && <source srcset={coverAvif} type="image/avif" />}
                <img src={cover} alt={name} transition:animate="fade"/>
            </picture>
        </section>
        <Content />
    </main>
</Layout>
<style>
    .back {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        gap: 0.3em;
        max-width: 150px;
        margin-bottom: 1em;

        & svg {
            width: 30px;
            height: 30px;
        }

        & p {
            margin: 0;
        }
    }

    .perfil-hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin-bottom: 1.5rem;
    }

    section img {
        width: 300px;
        max-width: 40%;
        border-radius: 12px;
    }

    .perfil-info {
        flex: 1;
    }

    .perfil-info p {
        margin-top: 0;
    }

    .perfil-redes {
        display: flex;
        gap: 0.75rem;
        flex-wrap: wrap;

        @media (width <= 530px) {
            justify-content: center;
        }
    }

    @media (width <= 530px) {
        .perfil-hero {
            flex-direction: column-reverse;
        }

        .perfil-cover {
            width: 100%;
            max-width: 100%;
        }
    }
</style>