---
import { getCollection } from 'astro:content';
import Layout from "@/layouts/Layout.astro"

const integrantes = await getCollection('integrantes')
const fundadores = integrantes.filter(({ data }) => {
    const types = Array.isArray(data.type)
        ? data.type
        : data.type?.split(',').map((type) => type.trim()) ?? []

    return types.includes('fundador')
})
const staff = integrantes.filter(({ data }) => {
    const types = Array.isArray(data.type)
        ? data.type
        : data.type?.split(',').map((type) => type.trim()) ?? []

    return types.includes('staff')
})
const renacimiento = integrantes.filter(({ data }) => {
    const types = Array.isArray(data.type)
        ? data.type
        : data.type?.split(',').map((type) => type.trim()) ?? []

    return types.includes('renacimiento')
})
---

<Layout title="TODOS LOS INTEGRANTES" description="Conoce a los integrantes de Tonotos Crew">
    <h1>TODOS LOS INTEGRANTES</h1>
	<!-- <section>
		{
			integrantes.map(integrante => {
				const { id, data } = integrante;
                const { name, description, cover } = data

				return (
					<article>
						<a href={`/integrante/${id}`}>
                            <img transition:name={`img-${id}`} src={cover} alt={name} />
							<h2 transition:name={`title-${id}`}>{name}</h2>
							<p>{description}</p>
						</a>
					</article>
				)
			})
		}
	</section> -->
    <h2>Fundadores</h2>
    <section>
    {
        fundadores.map(integrante => {
            const { id, data } = integrante;
            const { name, description, cover } = data

            return (
                <article>
                    <a href={`/integrante/${id}`}>
                        <img transition:name={`img-${id}`} src={cover} alt={name} />
                        <h2 transition:name={`title-${id}`}>{name}</h2>
                        <p>{description}</p>
                    </a>
                </article>
            )
        })
    }
</section>
    <h2>Era renacimiento</h2>
    <section>
    {
        renacimiento.map(integrante => {
            const { id, data } = integrante;
            const { name, description, cover } = data

            return (
                <article>
                    <a href={`/integrante/${id}`}>
                        <img transition:name={`img-${id}`} src={cover} alt={name} />
                        <h2 transition:name={`title-${id}`}>{name}</h2>
                        <p>{description}</p>
                    </a>
                </article>
            )
        })
    }
</section>
</section>
    <h2>Staff</h2>
    <section>
    {
        staff.map(integrante => {
            const { id, data } = integrante;
            const { name, description, cover } = data

            return (
                <article>
                    <a href={`/integrante/${id}`}>
                        <img transition:name={`img-${id}`} src={cover} alt={name} />
                        <h2 transition:name={`title-${id}`}>{name}</h2>
                        <p>{description}</p>
                    </a>
                </article>
            )
        })
    }
</section>
</Layout>
<style>
    h1, h2 {
        text-align: center;
        margin: 1em 0;
    }
    section {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em;
        flex-wrap: wrap;

        & article {
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
            transition: scale 0.2s ease;
            width: 300px;

            &:hover, &:active {
                scale: 1.02;
            }

            & a {
                display: flex;
                flex-direction: column;
                gap: 1em;
                place-items: center;
                padding: 1em;
                padding-block: 1.2em;
                cursor: pointer;
                color: #fff;
                text-decoration: none;

                & h2 {
                    font-size: clamp(1rem, 2vw + 1rem, 3rem);
                    margin: 0;
                }
                & p {
                    text-wrap: balance;
                    margin: 0;
                }
                & img {
                    width: 200px;
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }

            }
        }
    }
</style>