---
interface Props {
    youtube?: string,
    youtube2?: string,
    instagram?: string,
    x?: string,
    tiktok?: string,
}
const { youtube, youtube2, instagram, x, tiktok } = Astro.props
---
{youtube && <a href={youtube} target="_blank" rel="noopener noreferrer" title="YouTube">
    <svg width="35" height="35">
        <use href="/sprites.svg#youtube" />
    </svg>
</a>}
{youtube2 && <a href={youtube2} target="_blank" rel="noopener noreferrer" title="YouTube">
    <svg width="35" height="35">
        <use href="/sprites.svg#youtube" />
    </svg>
</a>}
{instagram && <a href={instagram} target="_blank" rel="noopener noreferrer" title="Instagram">
    <svg width="35" height="35">
        <use href="/sprites.svg#instagram" />
    </svg>
</a>}
{x && <a href={x} target="_blank" rel="noopener noreferrer" title="x.com">
    <svg width="35" height="35">
        <use href="/sprites.svg#x" />
    </svg>
</a>}
{tiktok && <a href={tiktok} target="_blank" rel="noopener noreferrer" title="TikTok">
    <svg width="35" height="35">
        <use href="/sprites.svg#tiktok" />
    </svg>
</a>}

<style>
    a {
        --size: 35px;

        display: inline-flex;
        color: #fff;
        gap: 1rem;
        width: var(--size);
        height: var(--size);

        &:hover {
            color: var(--color-accent-light);
        }
        
        &:active {
            scale: 0.95;
        }

        & svg {
            width: 100%;
            height: auto;
        }
    }
</style>