---
import { FOLLOWSX, FOLLOWSYOUTUBE, FOLLOWSINSTAGRAM } from "@/consts";
---
<footer>
	<div class="social-links">
		<a href="https://www.youtube.com/@TonotosCrew" target="_blank" title={FOLLOWSYOUTUBE}>
			<span class="sr-only">{FOLLOWSYOUTUBE}</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#youtube" />
			</svg>
		</a>
		<a href="https://x.com/TonotosCrew" target="_blank" title={FOLLOWSX}>
			<span class="sr-only">{FOLLOWSX}</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#x" />
			</svg>
		</a>
		<a href="https://www.instagram.com/tonotoscrew/" target="_blank" title={FOLLOWSINSTAGRAM}>
			<span class="sr-only">{FOLLOWSINSTAGRAM}</span>
			<svg width="30" height="30">
				<use xlink:href="/sprite.css.svg#instagram" />
			</svg>
		</a>
	</div>
	<p>Correo: tonotosentertainment@gmail.com</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em;
		color: var(--color-text-primary);
		text-align: center;
	}

	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}

	.social-links a {
		text-decoration: none;

		&:active {
			scale: 0.95;
		}
	}
	
	.social-links a:hover {
		color: var(--color-accent-light);
	}
</style>
